body {
    background-color: #d2d2f7;
    overflow-x: hidden;
    margin: 2vmin;
    font-family: 'Inconsolata', monospace;
}

.topnav {
    text-align: center;
    overflow: hidden;
    background-color: #afa1fd;
    padding: 2vmin;
    border-radius: 1vmin;
    font-size: 2vmin;
    justify-content: space-between;
}

.no-underline {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1vmin;
    border-radius: 1vmin;
    background-color: #faf3ff;
}

footer p {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: auto;
    margin: 3vmin;
    color: #000000;
}

h2 {
    font-size: 4vmin;
    color: #000000;
}

h3 {
    font-size: 3vmin;
    color: #ebebed;
}

h4 {
    font-size: 2.5vmin;
    color: #000000;
}

h5 {
    font-size: 2vmin;
    color: #000000;
}

p {
    font-size: 2vmin;
    color: #faf9ff;
}

#contact img {
    width: 5vmin;
}

#contact {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #afa1fd;
    padding: 1vmin;
    border-radius: 5vmin;
} 

#contact ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vmin;
    justify-content: center;
    list-style: none;
    margin-top: 0;
}

#contact li {
    margin: 2vmin;
    padding: 0;
}

#about ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vmin;
    border-radius: 5vmin;
}

#about li img {
    width: 6vmin;
}

#skills-container{
    background-color: #afa1fd;
    padding: 2vmin;
    border-radius: 5vmin;
}

#about-container {
    text-align: center;
    overflow: hidden;
    padding: 2vmin;
    max-width: 100%;
    margin-top: 3vmin;
}

#profile-img {
    float: right;
    display: flex;
    border-radius: 50%;
    height: 31vmin;
    overflow: hidden;
    padding: 2vmin;
    max-width: auto;
    margin-top: 4vmin;
}

#name {
    text-align: center;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4vmin;
    border-radius: 5vmin;
    background-color: #afa1fd;
    color: #faf9ff;
}

#project-container {
    display: grid;
    grid-gap: 3vmin;
    grid-template-columns: repeat( auto-fit, minmax(45vmin, 1fr));
    justify-content: center;
    align-content: center;
}

#project1,
#project2,
#project3,
#project4 {
    background-color: #0698c1c7;
    padding: 3vmin;
    border-radius: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 2vmin 2vmin 2vmin #8df9db;
    text-align: center;
}

#projects img {
    max-width: 100%; 
    height: auto; 
    border-radius: 5px;
} 

#button-box {
    display: flex;
    flex-direction: row;
    margin-top: 5vmin;
    gap: 2vmin;
}

@media only screen and (max-width: 767px) {
    #project-container {
        grid-template-columns: 1fr; 
    }

    #project1,
    #project2,
    #project3,
    #project4 {
        padding: 3vmin; 
    }
}

.image-link {
    color:#ffffff;
    text-decoration: none;
    background-color:#1d69f7;
    padding: 1.5vmin;
    border-radius: 5px;
}